<div id="guests-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">RSVP</h1>
  </div>
</div>
<div class="col-md-12 text-center">
  <h1>RSVP Form</h1>
</div>
