<%= render partial: 'leader' %>
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <h2>Welcome Back</h2>
      <p>It looks like you've already registered your RSVP</p>
      <p>Please check your <tt><%= @guest.email %></tt> email including your spam folders!</p>
      <p>If you never received the email, please <%= mail_to ENV['CONTACT_EMAIL'], 'contact us' %>.</p>
      <p><%= link_to 'Back to the Home Page', root_path %></p>.
    </div>
  </div>
</div>
