<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
<p>We look forward to seeing you September 12th, 2020 at <b>Mayfair Lakes Golf Club</b>, Richmond, British Columbia, Canada</p>
<p><strong>2:00pm</strong>: Guests arrive</p>
<p><strong>2:30pm</strong>: Ceremony begins</p>
<p><strong>3:30pm</strong>: Champagne hour &amp; games</p>
<p><strong>5:30pm-late</strong>: Reception</p>
<br>
<p>If you have any questions please check <%= link_to 'our wedding website', root_url %> for more information, or you can reply to this email.</p>
<% else %>
<p>We're sorry to hear you can't make it. We hope to see you another time!</p>
<% end %>
<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
