<footer id="welcome-index-footer" class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center" id="welcome-index-footer-credits">
        <small>Questions? Email us at <a href="mailto:donna.kalen.wedding.2020@gmail.com">donna.kalen.wedding.2020@gmail.com</small>
      </div>
    </div>
  </div>
</footer>
