<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
	   <div class="col-md-12 text-center">
        <h1>With great sadness...</h1>
      </div>
    </div>
    <div class="row">
      We have made the difficult decision to cancel our wedding on September 12, 2020. With the health and safety of our guests in mind and the multiple regulations set out by the B.C. Ministry of Health, we will no longer be able to host the wedding we had envisioned. Our wish to get married in September has not changed and we will be tying the knot in a small setting with our immediate family. We are disappointed we won't be able to celebrate together this year but we hope someday soon we can gather together and have a great party! 
    </div>
  </div>
</section>
