<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
	   <div class="col-md-12 text-center">
        <h1>Itinerary</h1>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6">
	    <p><strong>2:00pm</strong> &mdash; Guests arrive</p>
        <p><strong>2:30pm</strong> &mdash; Ceremonoey begins</p>
        <p><strong>3:30pm</strong> &mdash; Champagne hour &amp; games</p>
        <p><strong>5:30pm-late</strong> &mdash; Reception</p>
      </div>
    </div>
    <div class="row">
      <div id="welcome-index-footer-cta" class="col-md-12 text-center">
      <%= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </div>
  </div>
</section>
